*.iml

.idea
.gradle
.DS_Store

captures
build
gradle
gradlew
gradlew.bat
gradle.properties
local.properties
*.d
*.o
app/src/main/obj/
app/src/main/libs/
STMobileJNI/src/main/libs/
STMobileJNI/src/main/obj/
STMobileJNI1/src/main/libs/
STMobileJNI1/src/main/obj/
apptest/
