*.iml
.idea
.gradle
.DS_Store
captures
build
.externalNativeBuild
gradle
gradlew
gradlew.bat
gradle.properties
local.properties
*.d
*.o
app/src/main/obj/
app/src/main/libs/
STMobileJNI/src/main/libs/
STMobileJNI/src/main/obj/

